<p id="notice"><%= notice %></p>

<h3>Lista Autores</h3>


<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autors.each do |autor| %>
      <tr>
        <td><%= autor.name %></td>
        <td><%= link_to 'Visualizar', autor %></td>
        <td><%= link_to 'Editar', edit_autor_path(autor) %></td>
        <td><%= link_to 'Eliminar', autor, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Autor', new_autor_path %>
