<%= form_for(@libro) do |f| %>
  <% if @libro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@libro.errors.count, "error") %> Error, no se puede guardar este libro:</h2>

      <ul>
      <% @libro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre:" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :autor_id %><br>
    <%= f.select(:autor_id) do %>
      <%@autors.each do |a| %>
        <%= content_tag(:option, a.name, value:a.id)%>
      <%end%>
    <%end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
