<p id="notice"><%= notice %></p>

<h3>Lista Libros</h3>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libros.each do |libro| %>
      <tr>
        <td><%= libro.name %></td>
        <td><%= libro.autor.name %></td>
        <td><%= link_to 'Visualizar', libro %></td>
        <td><%= link_to 'Editar', edit_libro_path(libro) %></td>
        <td><%= link_to 'Eliminar', libro, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Libro', new_libro_path %>
