<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @libro.name %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @libro.autor.name %>
</p>

<%= link_to 'Editar', edit_libro_path(@libro) %> |
<%= link_to 'Atrás', libros_path %>
