<!DOCTYPE html>
<html>
<head>
  <title>LibrosRuby</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <h1>Gestor de Libros</h1>
<ul>

	<li><a href="..\autors">Autores</a></li>
	<li><a href="..\libros">Libros</a></li>
</ul>
</head>

<body>

<%= yield %>

</body>

</html>
